{% extends "layout.html" %}
{% block content %}
{% for ticket in tickets %}
  {% for event in events %}
    {% if event.idEvento == ticket.idEvento %} 
      <article class="media content-event">

     
        <form action="{{url_for('generate_ticket',folio=ticket.folio)}}">
            <div class="media-body">
              <img class="center" max-width="50vw" height="auto" width="90%" src="{{ event.imagen }}">
              <br>
            <h2>¡Iras a {{ event.Nombre }}!</h2>             
            <div class="row">

              <div class="column">
                  <p class="article-content"><strong>Lugar:</strong> {{ event.Lugar }}</p>
              </div>
              <div class="column">
                <p class="article-content"><strong>Fecha del Evento:</strong> {{ event.Fecha.strftime('%d/%m/%Y') }}</p>
              </div>
            </div> 
            
              <div class="row">
                  <div class="column">
                      <p class="article-content"><strong>Folio:</strong> {{ ticket.folio }}</p>
                  </div>
                  <div class="column">
                      <p class="article-content"><strong>Siglas:</strong> {{ event.Siglas }}</p>
                      <p class="article-content"><strong>Cantidad:</strong> {{ ticket.cantidad }}</p>
                  </div>
              </div>
             
              <img  class="center" max-width="10vw" height="auto" width="10%" src="{{ qrcode("¡Vas a ir a " + event.Nombre + "! \n El evento es en " + event.Lugar)  }}">
              <br>

            <button type="submit" class="center btn btn-primary"  >Descargar Boletos</button>

            </div>
        </form>
     
      </article>
    {% endif %}
  {% endfor %}
{% endfor %}

{% endblock content %}

