
{% extends "layout.html" %}
{% block content %}
    {% for event in events %}
    <article class="media content-event">
          
            <form action="{{url_for('comprar_evento', evento_id=event.idEvento)}}">
            <div class="media-body">
                <img class="center" max-width="50vw" height="auto" width="90%" src="{{ event.imagen }}">
                <br>
              <h2><a class="article-title" href="{{ url_for('evento', evento_id=event.idEvento) }}">{{event.Nombre}}</a></h2>             
              <div class="row">

                <div class="column">
                  <p class="article-content"><strong>Duracion:</strong> {{ event.Duracion }}</p> 
                  <p class="article-content"><strong>Costo:</strong> ${{ event.Costo }} MXN</p>
                </div>
                <div class="column">
                  <p class="article-content"><strong>Lugar:</strong> {{ event.Lugar }}</p>
                  <p class="article-content"><strong>Fecha del Evento:</strong> {{ event.Fecha }}</p>
                </div>
              </div> 
              <p class="article-content-description">{{ event.Decripcion }}</p>
              <button type="submit" class="center btn btn-primary"> Compra tus Boletos</button>
            </div>
          </form>
          
          </article>
    {% endfor %}

{% endblock content %}
